#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all man

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/subdigger PREFIX=/usr install

override_dh_auto_clean:
	$(MAKE) clean
